<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: docHeader">
</head>
<body>
	<header th:include="layout :: #header"></header>
	<nav th:include="layout :: #nav"></nav>

	<div id="main">
		<h2 th:text="#{users.changepassword.title}">Change password</h2>
		<p>
			<strong th:text="#{users.changepassword.policymsg}">New password must be 6-10 characters in length and contain a number, etc.</strong>
		</p>
		<form action="" th:object="${passwordChange}" method="post" class="thirdWidth">
			<table>
				<tbody>
					<tr>
						<td><label for="currentPassword" th:text="#{users.changepassword.currentpassword.label}">Current password</label></td>
						<td><input type="password" th:field="*{currentPassword}" autofocus="autofocus" th:errorclass="fieldError" /></td>
						<td th:if="${#fields.hasErrors('currentPassword')}"><span class="error" th:errors="*{currentPassword}">Current password invalid</span></td>
					</tr>
					<tr>
						<td><label for="newPassword" th:text="#{users.changepassword.newpassword.label}">New password</label></td>
						<td><input type="password" th:field="*{newPassword}" th:errorclass="fieldError" /></td>
						<td th:if="${#fields.hasErrors('newPassword')}"><span class="error" th:errors="*{newPassword}">New password invalid</span></td>
					</tr>
					<tr>
						<td><label for="newPasswordRepeat" th:text="#{users.changepassword.newPasswordRepeat.label}">Repeat new password</label></td>
						<td><input type="password" th:field="*{newPasswordRepeat}" th:errorclass="fieldError" /></td>
						<td th:if="${#fields.hasErrors('newPasswordRepeat')}"><span class="error" th:errors="*{newPasswordRepeat}">Please repeat password</span></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2"><a href="javascript:window.history.back();" class="button" th:text="#{buttons.labels.cancel}">Cancel</a>
							<button type="submit" th:text="#{buttons.labels.save}">Save</button></td>
					</tr>
				</tfoot>
			</table>
		</form>

	</div>

	<footer th:include="layout :: #footer"></footer>
</body>
</html>